services:
  db:
    image: postgres:16-alpine
    container_name: event_db
    restart: always
    environment:
      POSTGRES_DB: eventdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - app-network

  api:
    container_name: event_api
    build:
      context: ./backend/EventApi
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__Default=Host=db;Port=5432;Database=eventdb;Username=postgres;Password=${DB_PASS}
      - Jwt__Key=${JWT_KEY}
      - Jwt__Issuer=EventApi
      - Jwt__Audience=EventApiClient
    ports:
      - "5250:80"
    networks:
      - app-network

  frontend:
    container_name: event_frontend
    build:
      context: ./frontend/event-manager-frontend
      dockerfile: Dockerfile
    depends_on:
      - api
    ports:
      - "4200:4000"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
